    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Jom Launch</h1>
                        <h5>JomLaunch adalah satu event dimana JOMWEB secara komuniti akan perkenalkan dan launch software, apps, product dan service <br>yang dibangunkan oleh JOMWEB dan ahli-ahlinya dalam satu hari <br>Jomweb yang mempunyai hampir 8000 ahli terdiri dari developers, programmers, pakar IT , pelajar IT di facebook. <br>Penyertaan, Sponsor dan sumbangan anda semua didahului dengan ucapan terima kasih.</h5>
                        
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/projects/new" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Add your project</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>


	<a  name="featured-project"></a>
    <div class="content-section-a">

        <div class="container">
        	<div class="featured_box">
	            <div class="row">
	                <div class="col-lg-5">
	                    <hr class="section-heading-spacer">
	                    <div class="clearfix"></div>
	                    <h2 class="section-heading">Hotel Residence Uniten<br>4 April 2015</h2>
                        <h4>Penyertaan terbuka kepada semua ahli JomWeb</h4>
	                </div>
	                <div class="col-lg-5">
	                    <a href="https://www.google.com/maps/place/2.972779,+101.730662/"><img src="http://maps.googleapis.com/maps/api/staticmap?center=2.972779,+101.730662&zoom=14&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:red%7Clabel:U%7C2.972779,+101.730662" alt="Google Map of 2.972779, 101.730662"></a>
	                </div>
	            </div>
	        </div>

        </div>
        <!-- /.container -->

    </div>
    </div>
    <!-- /.content-section-b -->