    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Jom Launch</h1>
                        <h5>JomLaunch adalah satu event dimana JOMWEB secara komuniti akan perkenalkan dan launch software, apps, product dan service yang dibangunkan oleh JOMWEB dan ahli-ahlinya dalam satu hari ....Jomweb yang mempunyai hampir 8000 ahli terdiri dari developers, programmers, pakar IT , pelajar IT di facebook. Penyertaan, Sponsor dan sumbangan anda semua didahului dengan ucapan terima kasih.</h5>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/projects/new" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Add your project</span></a>
                            </li>
                            <li>
                                <a href="#projects" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">View Projects</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>


	<a  name="featured-project"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">This is where featured project <br>should be.</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam voluptatem iure obcaecati delectus laboriosam pariatur reiciendis, architecto, atque quisquam repellat rem nostrum eaque commodi voluptate repellendus itaque, dolorum consectetur voluptates.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="http://icons.iconarchive.com/icons/adidadidu/ipad/256/iPad-Side-Newspaper-icon.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>